version: '3.8'

services:
  supernode:
    image: flwr/supernode:1.23.0
    command: ["--insecure", "--isolation", "process", "--superlink", "superlink:9092", "--node-config", "partition-id=${PARTITION_ID} num-partitions=4", "--clientappio-api-address", "0.0.0.0:${NODE_PORT}"]
    ports:
      - "${NODE_PORT}:${NODE_PORT}"
    networks:
      - flwr-network

  superexec-client:
    build:
      context: .
      dockerfile: superexec.Dockerfile
    image: zk0-superexec:0.6.0
    command: ["--insecure", "--plugin-type", "clientapp", "--appio-api-address", "supernode:${NODE_PORT}"]
    depends_on:
      - supernode
    networks:
      - flwr-network

networks:
  flwr-network:
    external: true