version: '3.8'

services:
  supernode:
    image: flwr/supernode:1.23.0
    command: ["--insecure", "--isolation", "process", "--superlink", "superlink:9092", "--clientappio-api-address", "0.0.0.0:8080"]
    ports:
      - "8080"
    networks:
      - flwr-network

  superexec-client:
    build:
      context: .
      dockerfile: superexec.Dockerfile
    image: zk0-superexec:0.6.0
    command: ["--insecure", "--plugin-type", "clientapp", "--appio-api-address", "supernode:8080"]
    depends_on:
      - supernode
    networks:
      - flwr-network

networks:
  flwr-network:
    external: true